{% extends "base.html" %}

{% block announce %}
  <div class="social-icons">
    <a href="https://dev.to/mrchike" target="_blank" rel="noopener" title="DEV Profile">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/devdotto.svg" alt="DEV Profile" class="custom-icon" />
    </a>
    <a href="https://www.linkedin.com/in/chikeegonu/" target="_blank" rel="noopener" title="LinkedIn">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg" alt="LinkedIn" class="custom-icon" />
    </a>
    <a href="https://github.com/MrChike" target="_blank" rel="noopener" title="GitHub">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg" alt="GitHub" class="custom-icon" />
    </a>
    <a href="https://leetcode.com/mrchike" target="_blank" rel="noopener" title="LeetCode">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/leetcode.svg" alt="LeetCode" class="custom-icon" />
    </a>
    <a href="https://www.kaggle.com/chikeegonu" target="_blank" rel="noopener" title="Kaggle">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/kaggle.svg" alt="Kaggle" class="custom-icon" />
    </a>
  </div>
{% endblock %}

